<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password recovery link expired</title>
</head>
<body>
    <h2>El link para restablecer tu contraseña ha expirado</h2>
    <div class="error"></div>
    <h3>Por favor ingresa nuevamente tu correo para generar un nuevo link</h3>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <button onclick="passwordRecovery('{{email}}')" >Enviar</button>

  </body>
  <script src="/scripts/passwordRecovery.js"></script>
</html>
